:root {
    --background-color: #ffffff;
    --text-color: #424242;

    --config-default-position: -30rem;
    --config-background-color: #ffffff;
    --config-text-color: #424242;
    --config-shadow-color: #42424220;

    --game-tile-color: #dddddd;
    --game-tile-hover-color: #eeeeee;
    --game-icons-color: #424242;

    --message-background-color: #ffffff;
    --message-text-color: #424242;
    --message-shadow-color: #42424220;
}

body, body * {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
}



h1 {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-weight: 800;
    font-size: 2.5rem;
}

#control-buttons {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

#control-buttons button {
    background-color: unset;
    border: none;
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: .35s ease-in-out;
}

#control-buttons button:hover {
    transform: translate(0, -5px);
}

#settings-open:hover {
    transform: translate(0, -5px) rotate(120deg) !important;
}

#settings-close {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.5rem 0 1rem 0;
    cursor: pointer;
    transition: .15s ease-in-out;
    background-color: unset;
    border: none;
}

#settings-close:hover {
    transform: scale(1.25);
}

#config {
    position: absolute;
    top: 0;
    right: var(--config-default-position);
    height: 100%;
    min-width: 350px;
    background-color: var(--config-background-color);
    padding: 0 2rem;
    transition: .5s ease-out;
    box-shadow: 0 0 5rem 1rem var(--config-shadow-color);
    z-index: 20;
}

#config h2 {
    margin: 2rem 0 1.5rem;
}

#config form span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
}

#config form label, #config form input, #config form button {
    font-size: 0.9rem;
}

#config form button {
    background-color: var(--config-background-color);
    color: var(--config-text-color);
    border: 0.15rem solid var(--config-text-color);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: .15s ease-in-out;
}

#config form button:hover {
    color: var(--config-background-color);
    background-color: var(--config-text-color);
}

#config form input {
    width: 60%;
    border: none;
    border-bottom: 0.1rem solid var(--config-text-color);
    text-align: center;
}





#game-mines-left {
    margin: 4rem 5rem 1.5rem 5rem;
}

#game {
    margin: 0rem auto 3rem auto;
    width: 90%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 15px;
    opacity: 0;
    transition: .15s ease-in-out;
}

.game-tile {
    position: relative;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
}

.game-tile-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--game-tile-color);
    border-radius: 0.5rem;
    transition: .15s ease-in-out;
    z-index: 2;
}

.game-tile:hover .game-tile-background {
    background-color: var(--game-tile-hover-color);
}

.game-tile-flag, .game-tile-mine, .game-tile-near {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--game-icons-color);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.game-tile-near {
    font-weight: 800;
    transition: .15s ease-in-out;
    z-index: 1;
}

.game-tile-flag {
    transition: .15s ease-in-out;
    z-index: 3;
}

.game-tile-mine {
    transition: .5s ease-in-out;
    z-index: 3;
}

.game-hidden {
    opacity: 0;
}

.game-shown {
    opacity: 1;
}





#message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 3rem;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.5rem var(--message-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease-in-out;
}

#message-text {
    font-size: 3rem;
    margin: 1rem 0;
}

#message-button {
    background-color: var(--message-background-color);
    border: 0.2rem solid var(--message-text-color);
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: .15s ease-in-out;
}

#message-button:hover {
    background-color: var(--message-text-color);
    color: var(--message-background-color);
}





*:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
